body {
  margin: 0;
}

.main {
  width: 100%;
  background-color: #ffffff;
}

.header {
  width: 100%;
  height: 250px;
  background-color: #ff6037;
}

.menu {
  width: 100%;
  height: 50px;
  background-color: #fd5b78;

  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

.button {
  width: 120px;
  height: 100%;
  background-color: #ie90ff;
  margin: 2px;
}

.button:hover {
  background-color: #ccff00;
}

.hero {
  width: 100%;
  height: 300px;
  background-color: #00cc99;
}

.column-container {
  width: 100%;
  height: 300px;
  display: flex;
}

.column {
  width: 50%;
  height: 100%;
  background-color: #fd5b78;
}

.column:hover {
  background-color: #e0b565;
}

.contact {
  width: 100%;
  height: 300px;
  background-color: #ffffff;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #ccff00;
}




/* comment */
